.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: ease-in-out .5s;
}

.loading>span {
  display: block;
  width: 70px;
  height: 70px;
  border: 10px solid #00ff0a;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 100%;
  position: relative;
  animation: loading 3s linear infinite;
}

.loading>span::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border: 10px solid #00ff0a;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 100%;
  position: absolute;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}