.container_search {
  display: flex;
  justify-content: center;
}

.bar_search {
  width: 50%;
  height: 6em;
  background-color: #00ff0a;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  background-color: #ffffff;
}

.search>form {
  width: 100%;
  height: 100%;
}

.search>form>input {
  width: 95%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 20px;
  font-size: 1.2em;
}

.search>form>button {
  width: 5%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  outline: none;
}

.search>form>button>i {
  cursor: pointer;
}

@media screen and (max-width: 1400px) and (min-width: 766px) {
  .search>form>input {
    width: 90%;
  }

  .search>form>button {
    width: 10%;
  }
}

@media screen and (max-width: 768px) {
  .bar_search {
    width: 90%;
    height: 4em;
  }

  .search {
    width: 85%;
    height: 35px;
  }

  .search>form>input {
    width: 90%;
    font-size: 1em;
  }

  .search>form>button {
    width: 10%;
    font-size: 1em;
  }
}